@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.background-gradient {
  height: inherit;
  background: linear-gradient(0deg, #1ca1d6 0%, #022163 41%, #000000 60%);
}

.text {
  font-family: 'Josefin Sans', sans-serif;
  color: #313131;
  font-size: 3.9rem;
}

